{% extends 'base.html' %}

{% block title %}Tregua - Nuestra Historia{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Nuestra Historia</h2>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead text-center mb-5">
                Descubre la historia detrás de Tregua Restaurant
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/600x400" class="img-fluid rounded" alt="Historia 1">
            <h3 class="mt-3">Nuestros Inicios</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/600x400" class="img-fluid rounded" alt="Historia 2">
            <h3 class="mt-3">Evolución</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
{% endblock %}
