{% extends 'main/base.html' %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Nuestra Historia</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis justo sed libero bibendum, non gravida purus commodo. Integer at lectus ac nunc semper consectetur.
    </p>
    <div class="row">
        <!-- Imagen 1 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/600x800" class="img-fluid" alt="Historia 1">
        </div>
        <!-- Imagen 2 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/800x600" class="img-fluid" alt="Historia 2">
        </div>
        <!-- Imagen 3 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/800x600" class="img-fluid" alt="Historia 3">
        </div>
        <!-- Imagen 4 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/600x800" class="img-fluid" alt="Historia 4">
        </div>
        <!-- Imagen 5 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/600x800" class="img-fluid" alt="Historia 5">
        </div>
        <!-- Imagen 6 -->
        <div class="col-md-6 mb-4">
            <img src="https://via.placeholder.com/800x600" class="img-fluid" alt="Historia 6">
        </div>
    </div>
</div>
{% endblock %}
